@import 'bootstrap/scss/bootstrap.scss';
@import '_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


body {
  font-family: "Quicksand", sans-serif;
}

a {
  text-decoration: 0;
  color: black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.navbar {
  position: sticky;
}

.navbar input {
  width: 250px;
}

input.form-control,
button.btn {
    border-radius: 0;
}

.btn { img {
  width: 25px;
  }
}

#main-logo {
  width: 80px;
  height: auto;
  margin: 0 23vw;
}

#whatsapp-header {
  width: 40px;
  margin-left: 15vw;
}

.itens-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px 30px;
}

.itens { ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  }
}

#carouselExampleDark {
  margin-bottom: 40px;
}

#carouselExampleDark {
  .carousel-item img {
    width: 100%; 
    height: 700px; 
    max-width: 100%;
    object-fit: cover;
  }
}

.carousel-caption {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 30px;
  color: black;
}

.carousel-caption p {
  background-color: rgba(201, 201, 201, 0.6);
  padding: 50px;
  border-radius: 5px;
}

#hamburger {
  width: 30px;
}

.categorias ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 20px;
  justify-content: center;
}

.categorias li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.categorias a {
  text-decoration: none;
  color: black;
}

.categorias img {
  width: 100px;  
  height: 100px; 
  border-radius: 50%; 
  object-fit: cover; 
}

.social-media {
  background-color:  black;
}

.social-media {
  display: flex ;
  justify-content: center;
  gap: 20px;
  padding: 15px;
}

.social-media img {
  width: 40px;  
  height: 40px; 
  border-radius: 50%; 
  object-fit: cover;
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
}

.footer {
  display: grid;
  padding: 10vw;
  grid-template-columns: 1fr 1fr;
  grid-gap: 170px;
}

.footer form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.footer input {
  width: 300px;
}

.criador {
  float: left;
  background-color: black;
  text-align: center;
  padding: 20px;
}

.criador a {
  text-decoration: none;
  color: white;
}