.container-header {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: auto;
}

.container-sub-header img {
  width: 25px;
  height: 25px;
}

.navbar {
  position: sticky;
  justify-content: space-between;
  display: flex;
}

.navbar input {
  width: 250px;
}

img {
  width: 50px;
  height: 50px;
}

.itens-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding: 10px 30px;
}

.itens {
  display: flex;
  gap: 20px;
  a {
    text-decoration: none;
    color: black;
  }
}
