<div class="instagram p-4">
  <h2>Nossas categorias</h2>
  <div class="categorias">
    <ul>
      <li><img src="assets/images/1015.jpg" alt="" /><a href="">Anéis</a></li>
      <li>
        <img src="assets/images/0037.jpg" alt="" /><a href="">Braceletes</a>
      </li>
      <li><img src="assets/images/0325.jpg" alt="" /><a href="">Brincos</a></li>
      <li><img src="assets/images/0106.jpg" alt="" /><a href="">Colares</a></li>
      <li>
        <img src="assets/images/0004.jpg" alt="" /><a href="">Pulseiras</a>
      </li>
      <li>
        <img src="assets/images/0353.jpg" alt="" /><a href="">Tornozeleiras</a>
      </li>
      <li>
        <img src="assets/images/0266.jpg" alt="" /><a href="">Piercing</a>
      </li>
    </ul>
  </div>
</div>
