.categorias ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 50px;
  gap: 20px;
  justify-content: center;
}

.categorias li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.categorias a {
  text-decoration: none;
  color: black;
}

.categorias img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
