.produtos {
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  padding: 70px;
  justify-content: center;
  align-items: center;
  gap: 70px;
  background: #ccc;
}

.product-card {
  width: 60vw;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  text-align: start;
  align-items: center;
  transition: transform 0.2s ease;
  gap: 50px;
  padding: 60px;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%; /* Para ocupar toda a largura do cartão */
  height: 350px; /* Altura padronizada */
  object-fit: cover; /* Corta as bordas excedentes para ajustar a proporção */
  border-radius: 8px; /* (Opcional) Para cantos arredondados */
}

.product-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.product-title {
  font-size: 16px;
  margin: 0 0 8px;
  color: #333;
}

.product-description {
  font-size: 14px;
  color: #777;
  margin: 0 0 8px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
  margin: 0 0 16px;
}

.buy-button {
  background: #000;
  color: #fff;
  border: none;
  margin-top: 20px;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 140px;
  transition: background 0.3s ease;
}

.buy-button a {
  color: #fff;
}
