<div class="container-sobre">
  <h2>Sobre nós</h2>
  <p>
    A Mimos da Bi é uma loja de joias criada com carinho e dedicação,
    valorizando o toque familiar em cada detalhe. Nossa missão é oferecer peças
    que representem momentos especiais, com qualidade e estilo que encantam.
    Cada joia é escolhida e desenvolvida com atenção, pensando em realçar a
    beleza e o brilho únicos de cada cliente. Nossa história é construída com
    laços familiares e o desejo de proporcionar produtos que emocionem e
    acompanhem cada fase da vida. Na Mimos da Bi, você encontra mais do que
    joias — encontra memórias para eternizar.
  </p>
</div>
<app-sugestions></app-sugestions>
