<div>
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark carousel-fade slide"
    [attr.data-bs-ride]="'carousel'"
  >
    <!-- Indicadores -->
    <div class="carousel-indicators">
      <button
        *ngFor="let slide of slides; let i = index"
        type="button"
        [attr.data-bs-target]="'#carouselExampleDark'"
        [attr.data-bs-slide-to]="i"
        [class.active]="i === 0"
        [attr.aria-current]="i === 0 ? 'true' : null"
        [attr.aria-label]="'Slide ' + (i + 1)"
      ></button>
    </div>

    <!-- Conteúdo dos Slides -->
    <div class="carousel-inner">
      <div
        *ngFor="let slide of slides; let i = index"
        class="carousel-item"
        [class.active]="i === 0"
        [attr.data-bs-interval]="slide.interval"
      >
        <img [src]="slide.image" class="d-block w-100" [alt]="slide.alt" />
        <div class="carousel-caption d-none d-md-block">
          <p>{{ slide.caption }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Cartegoria -->
  <app-cartegory></app-cartegory>

  <div class="social-media">
    <a
      ><img src="https://www.svgrepo.com/show/506671/pinterest.svg" alt=""
    /></a>
    <a href="https://www.instagram.com/mimosdabi/" target="_blank">
      <img src="https://www.svgrepo.com/show/520798/instagram.svg" alt=""
    /></a>
  </div>

  <!-- Dúvidas e sugestões -->
  <app-sugestions></app-sugestions>
</div>
