<div class="container-header">
  <header>
    <nav
      class="navbar navbar-expand-lg bg-black px-5 py-3 d-flex align-items-center"
    >
      <div class="logo-container">
        <a [routerLink]="['/']">
          <img src="assets/images/logo_4.png" alt="Logomarca Mimos da BI" />
        </a>
      </div>
      <div class="whatsapp-header">
        <a href="https://wa.me/5535998728490" target="_blank">
          <img src="assets/icons/whatsapp.png" alt="Logomarca Mimos da BI" />
        </a>
      </div>
    </nav>

    <div class="container-sub-header">
      <nav class="itens-list bg-white">
        <a
          data-bs-toggle="collapse"
          href="#collapseExample"
          role="button"
          (click)="handleHamburgerMenu()"
        >
          <img
            id="hamburger"
            [src]="
              hamburgerMenu
                ? 'https://www.svgrepo.com/show/522506/close.svg'
                : 'https://www.svgrepo.com/show/493683/hamburger-2-menu-mobile.svg'
            "
            alt="Expandir categorias"
          />
        </a>
        <div class="collapse" id="collapseExample">
          <div class="itens">
            <a
              *ngFor="let menuItem of headerMenuList"
              [routerLink]="menuItem.route"
              >{{ menuItem.name }}</a
            >
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
